body {

}

.docs-header{

}

#header {
	background:#4E79B2;
	color:#ffffff;
	padding: 5px;
	display: flex;
	align-items: center;
}


#header li :link, #header li :visited, #header a {
	color:#ffffff;
	text-decoration:none;
}

#header ul {
	margin-top: 7px;
}

#header li {
	display: inline;
}

h1 {
	font-size:1em;
	flex: 1;
}

#logout{
	/*position:absolute;
	right:120px;
	top:22px;
	width:100px;
	*/
	padding-right: 1em;
}